div.project {
    margin: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Pozwala elementom na zawijanie się do nowej linii */
    color: rgb(255, 255, 255);
    padding: 0vw;
}


article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset;
    padding: 1vw;
    margin: 1vw;
    margin-bottom: 2vw;
    background-color: #609f8a;
    flex-basis: calc(50% - 60px); 
    box-sizing: border-box; 

}

img {
    height: auto;
    border-radius: 10px;
    height: 300px; 
    width: auto;
    border-radius: 10px;
}

button {
    background-color: #ff7f50; /* Kolor tła */
    color: white; /* Kolor tekstu */
    border: none; /* Usuń obramowanie */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 10px 20px; /* Padding wewnętrzny */
    font-size: 1rem; /* Rozmiar czcionki */
    cursor: pointer; /* Kursor wskazujący na możliwość kliknięcia */
    transition: background-color 0.3s ease; /* Animacja zmiany koloru tła */
    margin-top: 10px; /* Margines górny */
}

button:hover {
    background-color: #ff6347; /* Kolor tła po najechaniu */
}


/* Media queries dla mniejszych ekranów */
@media (max-width: 768px) {
    article {
        flex-basis: calc(100% - 60px); /* Ustaw szerokość na 100% minus margines dla mniejszych ekranów */
    }
}
