div .project {
    margin: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Pozwala elementom na zawijanie się do nowej linii */
    color: rgb(255, 255, 255);
    padding: 0vw;
}


article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset;
    padding: 1vw;
    margin: 1vw;
    margin-bottom: 2vw;
    background-color: #609f8a;
    flex-basis: calc(50% - 60px); 
    box-sizing: border-box; 

}

img {
    height: auto;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* Media queries dla mniejszych ekranów */
@media (max-width: 768px) {
    article {
        flex-basis: calc(100% - 60px); /* Ustaw szerokość na 100% minus margines dla mniejszych ekranów */
    }
}
