div .project {
    margin: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Pozwala elementom na zawijanie się do nowej linii */
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 255, 255);
}


article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset;
    padding: 3vw;
    margin: 30px;
    background-color: #609f8a;
    flex-basis: calc(50% - 60px); /* Ustaw szerokość na 50% minus margines */
    box-sizing: border-box; /* Upewnij się, że padding i border są wliczane do szerokości */
}

img {
    height: auto;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* Media queries dla mniejszych ekranów */
@media (max-width: 768px) {
    article {
        flex-basis: calc(100% - 60px); /* Ustaw szerokość na 100% minus margines dla mniejszych ekranów */
    }
}
