nav {
    display: flex;
    justify-content: right;
    align-items: center;    
    padding: 10px 10px;
    border-radius: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}
