:root body {
    background: linear-gradient(to right, #8b3e11, #ff0202);
    background-size: 200% 200%;
    animation: gradientAnimation 10s cubic-bezier(0.075, 0.7, 0.165, 1) infinite;
    color: #69152f;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1604076850742-4c7221f3101b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /*https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQ3fHx8ZW58MHx8fHx8*/
}


html {
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}