:root body {
    background: linear-gradient(to right, #ffbd97, #ff0202);
    background-size: 180% 180%;
    animation: gradientAnimation 10s cubic-bezier(0.075, 0.7, 0.165, 1) infinite;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: right;
    background-image: url('./image.png');

}

div {
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}