:root body {
    background: linear-gradient(to right, #8b3e11, #ff0202);
    background-size: 180% 180%;
    animation: gradientAnimation 10s cubic-bezier(0.075, 0.7, 0.165, 1) infinite;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: right;
    background-image: url('https://images.unsplash.com/photo-1548362851-ea052637ad64?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

div {
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}