.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38vw;
    padding: 5rem;
    padding-right: 15rem;
    padding-left: 15rem;
    background-color: rgb(207, 179, 142);
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 50%;
  }
  
  .slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  