.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 38vw;
    padding: 5rem;
    padding-right: 13rem;
    padding-left: 13rem;
  }
  
  div.slider {
    position: relative;
    width: 90%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(120, 109, 109, 0.184);
    color: white;
    border: none;
    padding: 100% 8px;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    transition: background 0.3s ease;
  }
  
  .slider-btn:hover {
    background-color: rgba(120, 109, 109, 0.648);
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }

  #raports {
    font-size: 3.5rem;
    letter-spacing: 1cap;
    color: #f4f7e1;
    margin-bottom: 0;
    padding-bottom: 0;
}

.slider h2 {
    color: #f4f7e1;
}